:colors{
  --color1:  #123648;
  --color2:  #124d5f;
  --color3: #14737f;
  --color4:  #17a0a6;
  --color5: #20dbcd;
}

:root{
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: nunito !important;
  background-color:   #123648 !important;
  width: 100%;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
}
.heder{
  position: sticky;
  top: 0;
  z-index: 2;
}
.titless{
  text-align: center;
    margin-top: 15px;
    background-color: #17a0a6;
}
